<style>
	.fit_image{
		height:420px !important;
	}
</style>
<div class="row">
	<div class="col-md-12">
		<div class="step-flow">
		    <img src="../../../../../assets/img/flow/flow-accomodation.png">
		</div>
		
		<h1 class="booking-page-title">{{accommodation.name}}</h1>
		<div class="carousel-content">
			<carousel>
			    <slide *ngFor="let image of accommodation.images">
			        <img [src]="image.uri" class="fit_image" />			        
			    </slide>
			</carousel>
		</div>
		<div class="booking-content">			
			<p class="details">{{accommodation.text}}</p>
		</div>
		<!--
		<div class="booking-buttons">
		    <button (click)="addToCart()" class="btn btn-default">Add to Cart</button>
		</div>
		-->
		<div class="bottom-navs">
			<a (click)="back()">Back</a>
			<span>/</span>
			<a (click)="next()">Next</a>
		</div>
	</div>
</div>