<div class="container">
	<div class="step-flow">
	    <img src="../../../../../assets/img/flow/flow-accomodation.png">
	</div>
	
	<h1 class="booking-page-title">Housing Options</h1>
	<h4 class="text-center">Sort by: Price (Low to High)</h4>
	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-6 accommodation" *ngFor="let accommodation of accommodationList; let index = index">
			<div class="accommodation-inner">
			    <img [src]="accommodation.images[0].uri" />
	            <div class="booking-name" (click)="onSelect(accommodation)">
	                {{accommodation.name}}
	                <p class="accommodation-text">{{accommodation.text}}</p>
	            </div>
            </div>
        </div>
	</div>
	<div class="bottom-navs">
		<a (click)="back()">Back</a>
	</div>
</div>