<h1 class="text-center">Group Members</h1>
<!--<div *ngFor="let member of members; let i = index">-->
    <!--Member {{i+1}}-->
    <!--<group-member-form [groupMember]="member"></group-member-form>-->
<!--</div>-->

<div class="row" style="margin-top: 30px;">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <div *ngFor="let member of members; let i = index">
            <h4 class="text-center text-complete">Member {{i+1}}</h4>
            <group-member-form [groupMember]="member"></group-member-form>
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>
<!--
<div class="bottom-navs">
    <a (click)="back()">Back</a>
    <span>/</span>
    <a (click)="next()">Next</a>
    <span>/</span>
    <a (click)="skip()">Skip</a>
</div>
-->