<style>
	.fit_image{
		height:420px !important;
	}
</style>
<div class="row">
	<div class="col-md-12">
		
		<div class="step-flow">
		  <img src="../../../../../assets/img/flow/flow-destinations.png">
		</div>
		
		<h1 class="booking-page-title">{{destination.name}}</h1>
		<div class="carousel-content">
			<carousel>
			  <slide *ngFor="let image of destination.images">
			    <img [src]="image.uri" class="fit_image" />    
			  </slide>
			</carousel>
		</div>
		<div class="booking-content text-center">
			<p class="header1">{{destination.header1}}</p>
			<p class="header2">{{destination.header2}}</p>
			<p class="header3">{{destination.header3}}</p>
			<p class="details">{{destination.text}}</p>
		</div>
		<div class="bottom-navs">
			<a (click)="back()">Back</a>
			<span>/</span>
			<a (click)="next()">Next</a>
		</div>
	</div>
</div>